.card-form {
  display: grid;
  place-content: center;

  form {
    fieldset {
      border: none;
    }
  }

  .fieldset--main {
    gap: 7px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .form-group.double-group {
    flex-direction: row;
    align-items: flex-end;
  }

  .fieldset--expiry-date {
    legend {
      color: var(--label);
      font-size: 0.75rem;
      letter-spacing: 2px;
      margin-block-end: 9px;
      text-transform: uppercase;
    }

    .expiry-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 9px;
      max-inline-size: 170px;
    }

    .error--expiry-date {
      grid-column: 1/-1;
    }
  }

  button {
    margin-block-start: 30px;
    width: 100%;
  }
}
