.card-image {
  position: relative;

  // applicable to both the front and back cards
  .card-front,
  .card-back {
    position: absolute;
    width: min-content;
  }

  .card-front > *:not(.card-front__bg),
  .card-back > *:not(.card-back__bg) {
    position: absolute;
  }

  .card-front__bg,
  .card-back__bg {
    // max-width:100% + width:min-content on the parent will cause the image to have a width of 0 since the parent will have a width of min-content. This is to fix that
    max-width: revert;
  }

  // front of card
  .card-front {
    --card-padding: 2rem;

    bottom: 0;

    z-index: 2;
  }

  .card-front__logo {
    top: var(--card-padding);
    left: var(--card-padding);
  }

  .card-front__number {
    top: 50%;
    left: var(--card-padding);

    font-size: 1.925rem;
  }

  .card-front__name {
    bottom: var(--card-padding);
    left: var(--card-padding);
  }

  .card-front__expiry {
    bottom: var(--card-padding);
    right: var(--card-padding);
  }

  // back of card
  .card-back {
    right: 0;
  }

  .card-back__bg {
  }

  .card-back__cvc {
    top: 44%;
    right: 3.5rem;
  }

  // tablet and larger sizes
  @media (min-width: 960px) {
    .card-image {
      display: grid;
      gap: 2rem;
    }

    .card-front,
    .card-back {
      inset: revert;
      position: relative;
    }

    .card-back {
      margin-left: auto;
    }
  }
}
