.thank-you-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  max-width: 381px;

  .image-wrapper {
    img {
    }
  }

  h2 {
  }

  p {
  }

  button {
    align-self: stretch;
  }
}
