@use '../../scss/mixins/breakpoints' as *;

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;

  & :first-child {
    flex: 1 1 50%;
  }

  & :last-child {
    flex: 1 1 50%;
  }
}

@media (min-width: 48rem) {
  .wrapper {
    flex-direction: row;
  }
}
