@use '../../scss/mixins/breakpoints' as *;

.wrapper {
  display: grid;
  min-height: 100%;
}

@media (min-width: 960px) {
  .wrapper {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}
