*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Typographic tweaks! Add accessible line-height Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-white: 0, 0%, 100%;
  --clr-red: 0, 100%, 66%;
  --clr-deep-violet: 278, 68%, 11%;
  --hsla: 1;
  --clr-deep-violet-gradient: linear-gradient(
    163.95deg,
    #6348fe 4.74%,
    #610595 88.83%
  );
  --label: hsla(var(--clr-deep-violet), var(--hsla));
  --placeholder: hsla(var(--clr-deep-violet), 1);
  --ff-space-grotesk: "Space Grotesk", sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
}

#root {
  height: 100%;
}

body {
  background-color: var(--clr-white);
  font-family: var(--ff-space-grotesk);
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
}

label {
  color: var(--label);
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

input {
  --hsla: 1;
  border: 1px solid var(--placeholder);
  opacity: var(--hsla);
  padding: 0.3rem;
  padding-inline-start: 1rem;
  width: 100%;
}

input::placeholder {
  --hsla: 0.5;
  opacity: var(--hsla);
  color: var(--placeholder);
}

input:focus {
  outline: none;
  border: solid 1px transparent;
  border-radius: 8px;
  background-image: linear-gradient(white, white), var(--clr-deep-violet-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: hsl(var(--clr-red));
}

button {
  border: none;
  cursor: pointer;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-deep-violet));
  padding-block: 0.7rem;
}

button,
input {
  border-radius: 8px;
}

.center {
  --measure: 1440px;
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.error--text {
  color: red;
}

.error--border {
  border-color: red;
}

.error {
  color: hsl(var(--clr-red));
  font-size: 0.75rem;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper .card:first-child {
  flex: 1 1 50%;
}
.wrapper .card:last-child {
  padding-inline: 24px;
  flex: 1 1 50%;
}
.wrapper .card {
  overflow: hidden;
}

@media (min-width: 48rem) {
  .wrapper {
    flex-direction: row;
  }
  .wrapper .card:last-child {
    margin-block-start: 0;
  }
}
.card-image {
  background: url("../../images/bg-card-front.png") top 126px left 16px, url("../../images/bg-card-back.png") top 37px right 16px, url("../../images/bg-main-mobile.png") top center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: min(286px, 100%) min(157px, 100%), min(286px, 100%) min(157px, 100%), 100% 240px;
  display: flex;
  flex-direction: column;
  color: hsl(var(--clr-white));
  position: relative;
}
.card-image .card-logo {
  position: absolute;
  transform: translate(80%, 497%);
  width: 54px;
  height: 30px;
}
.card-image .back-of-card-text {
  margin-left: auto;
  padding: 6.8rem;
  margin-right: -32px;
}
.card-image .back-of-card-text .cvc {
  font-size: 0.5625rem;
}
.card-image .front-of-card-text {
  position: absolute;
}
.card-image .front-of-card-text .number {
  letter-spacing: 2.2px;
  transform: translate(17%, 810%);
}
.card-image .front-of-card-text .name {
  font-size: 0.5625rem;
  transform: translate(17%, 1660%);
  letter-spacing: 1.29px;
  text-transform: uppercase;
}
.card-image .front-of-card-text .expiry-date {
  font-size: 0.5625rem;
  transform: translate(107%, 1550%);
}

@media (max-width: 241px) {
  .card-image .front-of-card-text .number {
    transform: translate(17%, 370%);
  }
}
@media (min-width: 48rem) {
  .card-image {
    background: url("../../images/bg-card-front.png") center top 100px, url("../../images/bg-card-back.png") center top 400px, url("../../images/bg-main-desktop.png") left center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: max(86px, 70%) min(245px, 100%), max(86px, 70%) min(245px, 100%), min(483px, 100%) 100%;
  }
  .card-image .card-logo {
    transform: translate(151%, 297%);
    width: 84px;
    height: 47px;
  }
  .card-image .back-of-card-text {
    margin-left: auto;
    padding: 6.8rem;
    padding-top: 6.8rem;
    margin-right: 24px;
    padding-top: 508px;
  }
  .card-image .back-of-card-text .cvc {
    font-size: 0.875rem;
  }
  .card-image .front-of-card-text .number {
    font-size: 1rem;
    letter-spacing: 3.42px;
    transform: translate(30%, 1119%);
  }
  .card-image .front-of-card-text .name {
    font-size: 0.875rem;
    transform: translate(30%, 1334%);
  }
  .card-image .front-of-card-text .expiry-date {
    font-size: 0.875rem;
    transform: translate(111%, 1230%);
  }
}
@media (min-width: 62.5rem) {
  .card-image .front-of-card-text .number {
    font-size: 1.25rem;
    transform: translate(37%, 887%);
  }
  .card-image .front-of-card-text .name {
    transform: translate(37%, 1334%);
  }
  .card-image .front-of-card-text .expiry-date {
    transform: translate(121%, 1230%);
  }
}
@media (min-width: 63.4375rem) {
  .card-image .front-of-card-text .name {
    transform: translate(37%, 1334%);
  }
}
@media (min-width: 74.625rem) {
  .card-image .back-of-card-text {
    margin-right: 36px;
  }
}
@media (min-width: 76.875rem) {
  .card-image .front-of-card-text .number {
    font-size: 1.45rem;
    transform: translate(44%, 761%);
  }
}
@media (min-width: 79.375rem) {
  .card-image .front-of-card-text .name {
    transform: translate(43%, 1334%);
  }
  .card-image .front-of-card-text .expiry-date {
    transform: translate(130%, 1230%);
  }
}
@media (min-width: 80.625rem) {
  .card-image {
    background: url("../../images/bg-card-front.png") center top 100px, url("../../images/bg-card-back.png") right 30px top 400px, url("../../images/bg-main-desktop.png") left center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: max(447px, 70%) min(245px, 100%), max(447px, 70%) min(245px, 100%), min(483px, 100%) 100%;
  }
  .card-image .back-of-card-text {
    margin-right: -7px;
  }
  .card-image .front-of-card-text .number {
    font-size: 1.75rem;
    transform: translate(40%, 609%);
  }
  .card-image .front-of-card-text .name {
    transform: translate(40%, 1255%);
  }
}
@media (min-width: 82.25rem) {
  .card-image .front-of-card-text .expiry-date {
    transform: translate(130%, 1152%);
  }
}
.card-form {
  display: grid;
  place-content: center;
}
.card-form form fieldset {
  border: none;
}
.card-form .fieldset--main {
  gap: 7px;
}
.card-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.card-form .form-group.double-group {
  flex-direction: row;
}
.card-form .fieldset--expiry-date legend {
  color: var(--label);
  font-size: 0.75rem;
  letter-spacing: 2px;
  margin-block-end: 9px;
  text-transform: uppercase;
}
.card-form .fieldset--expiry-date .expiry-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9px;
  max-inline-size: 170px;
}
.card-form .fieldset--expiry-date .error--expiry-date {
  grid-column: 1/-1;
}
.card-form button {
  margin-block-start: 30px;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
