*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Typographic tweaks! Add accessible line-height Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-white: 0, 0%, 100%;
  --clr-red: 0, 100%, 66%;
  --clr-deep-violet: 278, 68%, 11%;
  --hsla: 1;
  --clr-deep-violet-gradient: linear-gradient(
    163.95deg,
    #6348fe 4.74%,
    #610595 88.83%
  );
  --label: hsla(var(--clr-deep-violet), var(--hsla));
  --placeholder: hsla(var(--clr-deep-violet), 1);
  --ff-space-grotesk: "Space Grotesk", sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
}

#root {
  height: 100%;
}

body {
  background-color: var(--clr-white);
  font-family: var(--ff-space-grotesk);
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
}

label {
  color: var(--label);
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

input {
  --hsla: 1;
  border: 1px solid var(--placeholder);
  opacity: var(--hsla);
  padding: 0.3rem;
  padding-inline-start: 1rem;
  width: 100%;
}

input::placeholder {
  --hsla: 0.5;
  opacity: var(--hsla);
  color: var(--placeholder);
}

input:focus {
  outline: none;
  border: solid 1px transparent;
  border-radius: 8px;
  background-image: linear-gradient(white, white), var(--clr-deep-violet-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: hsl(var(--clr-red));
}

button {
  border: none;
  cursor: pointer;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-deep-violet));
  padding-block: 0.7rem;
}

button,
input {
  border-radius: 8px;
}

span {
  color: hsl(var(--clr-white));
}

.center {
  --measure: 1440px;
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.error--text {
  color: red;
}

.error--border {
  border-color: red;
}

.error {
  color: hsl(var(--clr-red));
  font-size: 0.75rem;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 111px;
}

.wrapper > div:last-child {
  padding: 24px;
}

.card-image {
  --card-padding: 1rem;
  --card-width: 285px;
  background-image: url("../../images/bg-main-mobile.png");
  padding: 12px;
  position: relative;
}
.card-image .card-front {
  position: absolute;
  bottom: 0;
  max-width: var(--card-width);
  transform: translateY(44%);
  z-index: 1;
}
.card-image .card-front__logo {
  position: absolute;
  top: var(--card-padding);
  left: var(--card-padding);
  max-width: 54px;
}
.card-image .card-front__number {
  position: absolute;
  top: 50%;
  left: var(--card-padding);
}
.card-image .card-front__name {
  position: absolute;
  bottom: var(--card-padding);
  left: var(--card-padding);
}
.card-image .card-front__expiry {
  position: absolute;
  bottom: var(--card-padding);
  right: var(--card-padding);
}
.card-image .card-back {
  display: flex;
  max-width: var(--card-width);
  margin-left: auto;
  position: relative;
  transform: translateY(-5%);
}
.card-image .card-back__cvc {
  position: absolute;
  top: 41%;
  right: 0;
  transform: translateX(-100%);
}

.card-form {
  display: grid;
  place-content: center;
}
.card-form form fieldset {
  border: none;
}
.card-form .fieldset--main {
  gap: 7px;
}
.card-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.card-form .form-group.double-group {
  flex-direction: row;
  align-items: flex-end;
}
.card-form .fieldset--expiry-date legend {
  color: var(--label);
  font-size: 0.75rem;
  letter-spacing: 2px;
  margin-block-end: 9px;
  text-transform: uppercase;
}
.card-form .fieldset--expiry-date .expiry-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9px;
  max-inline-size: 170px;
}
.card-form .fieldset--expiry-date .error--expiry-date {
  grid-column: 1/-1;
}
.card-form button {
  margin-block-start: 30px;
  width: 100%;
}

.thank-you-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  max-width: 381px;
}
.thank-you-page button {
  align-self: stretch;
}

/*# sourceMappingURL=styles.css.map */
